---
// Trigger

import type { ClassValue } from "clsx";
import type { DropdownIdGroup } from "./utils";
import cn from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"button">, "class" | "aria-label"> {
  "aria-id-group": DropdownIdGroup;
  class?: ClassValue;
  "aria-label": string;
}

const {
  class: className,
  "aria-id-group": ariaIdGroup,
  ...props
} = Astro.props;
---

<button
  class={cn("inline-flex w-full items-center justify-center", className)}
  @click="isOpen = !isOpen"
  @click.away="isOpen = false"
  aria-haspopup="true"
  aria-controls={ariaIdGroup.content}
  :aria-expanded="isOpen"
  type="button"
  id={ariaIdGroup.trigger}
  {...props}
>
  <slot />
</button>
