@import "tailwindcss";

@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-primary: #8099e9;
  --color-dark-card: #262a37;
  --color-dark-icon: #29324c;

  --color-zinc-50: #fafafa;
  --color-zinc-300: #d4d4d8;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
}

:root {
  --sl-font: "Manrope Variable", "sans-serif";
  --sl-font-mono: "Roboto Mono Variable", "monospace";

  --sl-color-bg-nav: var(--color-zinc-900);
  --sl-color-text: var(--color-zinc-300);
}

[x-cloak] {
  display: none;
}

/* OVERRIDES STARLIGHT STYLES */
#starlight__sidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-zinc-600) var(--color-zinc-800);
}

.header .site-title img {
  height: 3.5rem;
}

@media (min-width: 769px) {
  #starlight__sidebar {
    @apply bg-transparent;
  }

  .header .title-wrapper {
    padding-left: 6.25rem;
  }
}

sl-heading-wrapper,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sl-font-mono);
  color: var(--color-zinc-50);
}

@media (min-width: 769px) {
  button[data-open-modal] {
    background-color: var(--color-zinc-800);
    border: none;
    max-width: 42rem;
  }
}

button > kbd {
  background-color: var(--color-zinc-900);
}

.sl-markdown-content a:not(:where(.not-content *)) {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.sl-markdown-content a:hover:not(:where(.not-content *)) {
  color: var(--color-zinc-50);
}

.sl-markdown-content ul:not(:where(.not-content *)) {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.sl-markdown-content ul li::marker {
  color: var(--color-zinc-50);
}

.sl-markdown-content ul li:has(a)::marker {
  color: var(--color-primary);
}

code {
  background-color: var(--color-dark-card);
  border: 1px solid var(--color-primary);
  border-radius: 6px;
}

pre code {
  background-color: transparent;
  border: none;
}

.right-sidebar-panel .sl-container {
  background-color: var(--color-zinc-800);
  padding: 10px;
  border-radius: 10px;
}

.right-sidebar {
  border: none;
}

.content-panel {
  border: none;
}

.toggle {
  border: none;
  background-color: var(--color-zinc-800);
}

.header .right-group {
  display: none;
}
