---
const { siteTitle, siteTitleHref } = Astro.locals.starlightRoute;
---

<a
  href={siteTitleHref}
  class="flex items-center no-underline whitespace-nowrap w-full text-xl"
>
  <span class="overflow-hidden w-full" translate="no">
    {siteTitle}
  </span>
</a>
