---
import cn from "@/utils/cn";

export interface Props {
  text: string;
  variant?: "note" | "danger" | "success" | "caution" | "tip" | "default";
  class?: string;
}

const { text, variant = "default", class: className } = Astro.props as Props;

const variants: Record<NonNullable<Props["variant"]>, string> = {
  note: "text-blue-300 bg-blue-800 border-blue-500",
  danger: "text-rose-300 bg-rose-800 border-rose-500",
  success: "text-green-300 bg-green-800 border-green-500",
  caution: "text-yellow-300 bg-yellow-800 border-yellow-500",
  tip: "text-purple-300 bg-purple-800 border-purple-500",
  default: "text-zinc-300 bg-dark-card border-primary",
};

const classes = cn(
  className,
  variants[variant],
  "text-sm rounded-md px-1.5 py-0.5 border",
);
---

<span class={classes}>{text}</span>
